<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.andreyrodriguezsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.andreyrodriguezsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.choosemode.ui.ChooseModeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.musicpage.ui.MusicPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.lyrics.ui.LyricsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.resigsterorsignuptwo.ui.ResigsterOrSignUpTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.resigsterorsignupone.ui.ResigsterOrSignUpOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.getstarted.ui.GetStartedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.articspageone.ui.ArticsPageOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.homepage.ui.HomePageActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.andreyrodriguezsapplication.app.modules.loading.ui.LoadingActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.articspage.ui.ArticsPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.andreyrodriguezsapplication.app.modules.resigsterorsignup.ui.ResigsterOrSignUpActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
